.container {
    display:flex;
   flex-wrap:wrap;
    flex-direction:column;
    width:100%;
    text-align:center;
}

.container > * {
    padding:1em;
  }
  
  
  .flex-item {
    display:flex;
  }
  

    #menu-links {
        list-style: none;
    }  


#menu {
    display:flex;
}

#actual-list, #imdb-list {
    list-style: none;
}

#actual-list > li, #imdb-list > li {
    margin-bottom:1em;
}

#book-img {
    max-width:75%;
}

#page {
    max-width:100%;
}

#watch-list {
    max-width:500px;
}


#imdb-list {
    max-width:100%;
}
