@media (min-width:768px) {

    /*
    #page {
        background-color:purple;
    }
    */

    #menu {
        display:none;
    }

    #book-img {
        max-width:30%;
    }

    #form-and-countdown {
        flex-direction: row;
        display:flex;
    }

    
    .flex-container {
flex-direction: column;
flex-wrap: nowrap;
    }

#form {
    width:50%;
}

#day-determiner {
width:75%;
}

#both-lists {
    display:flex;
    flex-direction:row;
}

h3 {
    font-size:20px;
}

}